body {
    background: #969292;
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
}

#main, #chats {
    width: 500px;
    margin: auto;
    text-align: left;
    background: whitesmoke;
    padding: 40px 60px 10px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
    font-family: 'Lato', sans-serif;
}

#chats {
    padding-bottom: 30px;
}

#main h1 {
    margin-top: 0;
    font-size: 40px;
    margin-bottom: 5px;
    padding: 0px;
    font-family: 'Kaushan Script', cursive;
    color: #4387eae8;
}

#rooms {
    font-family: lato;
    color: #4387eae8
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 0px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}

.chat {
    padding: 5px 15px 10px 15px;
    margin-bottom: 5px;
    background-color: #4387ea63;
    font-family: 'Lato', sans-serif;
}

.chat .username {
    font-weight: 800;
    font-family: 'Permanent Marker', cursive;
}

.chat .username:hover {
    color: blue;
    cursor: pointer;
}

.chat:hover {
    /*background-color: #4387eab5;*/
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.friend {
    color: #fff;
    background-color: purple;
}

#message {
    border-radius: 20px;
    border: 2px solid #d0d0d0;
    width: 300px;
    background-color: #e6e6e6;
}

#message:focus {
    border: 2px solid #4387ea66;
    outline: none;
    background-color: white;
}

input::-webkit-input-placeholder {
    color: #4387eab8;
}

input:focus::-webkit-input-placeholder {
    color: #4387eab8;
    opacity: 0.5;
    font-weight: 100;
}

select {
    margin: 0 10px;
}

.btn {
    padding: 5px 10px;
    font-family: 'Lato';
    border-radius: 10px;
    background-color: #4387ea3d;
}

.btn:hover {
    background-color: #4387ea9c;
    cursor: pointer;
}

#submitButton {
    padding: 5px 10px;
    font-family: 'Lato';
    border-radius: 10px;
    background-color: #4387ea3d;
}

#submitButton:hover {
    background-color: #4387ea9c;
    cursor: pointer;
}

